# Intro to Programming
**Lesson objectives:**
- Understand the basics of programming
- Understand data types, variables, and basic operations
- Understand control flow and loops

NB: Run the cells to see outputs

## Arithmetic & Variables

### Printing

One of the simplest (and most important!) tasks you can ask a computer to do is to print a message. 

In Python, we ask a computer to print a message for us by writing print() and putting the message inside the parentheses and enclosed in quotation marks.

In [ ]:
print("Hello, world!")

The code is inside the box (known as a **code cell**), and the computer's response (called the **output of the code**) is shown below the box. As you can see, the computer printed the message that we wanted.

### Arithmetic

We can also print the value of some arithmetic operation (such as **addition, subtraction, multiplication, or division**).

For instance, in the next code cell, the computer adds 2 to 1 and then prints the result, which is 3. Note that unlike when we were simply printing text, we don't use any quotation marks.

In [ ]:
print(1 + 2)

Other operations you can do in Python are:
For a list of common symbols you can use to construct conditions, check out the chart below.

|**Operation** | **Example**     |
|------------------|-------------|
|Subtraction       | 5 - 4 = 1   |
|Multiplication    | 5 * 6 = 30  |
|Division          | 10 / 2 = 5  |
|Exponent          | 3**2 = 6    |

In [ ]:
print(6 - 2)

In [ ]:
print(6 * 2)

In [ ]:
print(6 ** 2)

### Comments

We use comments to annotate what code is doing. They help other people to understand your code, and they can also be helpful if you haven't looked at your own code in a while. So far, the code that we have written is very short, but annotations become more important when you have written a lot of code.

To indicate to Python that a line is comment (and not Python code), you need to write a **pound sign (#)** as the very first character.

In [ ]:
# add 3 to 2: This is a comment
print(2 + 3)

**Note:**

Once Python sees the pound sign and recognizes that the line is a comment, **it is completely ignored by the computer**. This is important, because just like English or Hindi (or any other language!), Python is a language with very strict rules that need to be followed. Python is stricter than a human listener, though, and will just error if it can't understand the code.

We can see an example of this, in the code cell below. Python errors if we remove the pound sign, because the text in the comment is not valid Python code, so it can't be interpreted properly.

In [ ]:
Multiply 3 by 2

### Variables¶

So far, you have used code to make a calculation and print the result, and the result isn't saved anywhere. However, you can imagine that you might want to save the result to work with it later. For this, you'll need to use **variables** .

#### Creating Variables
The next code cell creates a variable named ```test_var``` and assigns it the value that we get when we add 5 to 4.

We then print the value that is assigned to the variable, which is 9.

In [ ]:
# Create a variable called test_var and give it a value of 4+5
test_var = 4 + 5

# Print the value of test_var
print(test_var)

In general, to work with a variable, you need to begin by selecting the name you want to use. Variable names are ideally short and descriptive. They also need to satisfy several requirements:

- They can't have spaces (e.g., test var is not allowed)
- They can only include letters, numbers, and underscores (e.g., test_var! is not allowed)
- They have to start with a letter or underscore (e.g., 1_var is not allowed)
- Then, to create the variable, you need to use = to assign the value that you want it to have.

You can always take a look at the value assigned to the variable by using print() and putting the name of the variable in parentheses.

#### Manipulating variables¶
You can always change the value assigned to a variable by overriding the previous value.

In the code cell below, we change the value of ```my_var``` from 3 to 100.

In [ ]:
# Set the value of a new variable to 3
my_var = 3

# Print the value assigned to my_var
print(my_var)

In [ ]:
# Change the value of the variable to 100
my_var = 100

# Print the new value assigned to my_var
print(my_var)

Note that in general, whenever you define a variable in a code cell, all of the code cells that follow also have access to the variable. For instance, we use the next code cell to access the values of ```my_var``` (from the code cell above) and ```test_var``` (from earlier in this tutorial).

In [ ]:
print(my_var)
print(test_var)

#### Using multiple variables¶
It's common for code to use multiple variables. This is especially useful when we have to do a long calculation with multiple inputs.

In the next code cell, we calculate the number of seconds in four years. This calculation uses five inputs.

In [ ]:
# Create variables
num_years = 4
days_per_year = 365 
hours_per_day = 24
mins_per_hour = 60
secs_per_min = 60

# Calculate number of seconds in four years
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years
print(total_secs)

As calculated above, there are 126144000 seconds in four years.

Note it is possible to do this calculation without variables as just 60 * 60 * 24 * 365 * 4, but it is much harder to check that the calculation without variables does not have some error, because it is not as readable. When we use variables (such as num_years, days_per_year, etc), we can better keep track of each part of the calculation and more easily check for and correct any mistakes.

Note that it is particularly useful to use variables when the values of the inputs can change. For instance, say we want to slightly improve our estimate by updating the value of the number of days in a year from 365 to 365.25, to account for leap years. Then we can change the value assigned to days_per_year without changing any of the other variables and redo the calculation.

In [ ]:
# Update to include leap years
days_per_year = 365.25


# Calculate the number of seconds in four years
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years
print(total_secs)

### Debugging

One common error when working with variables is to accidentally introduce typos. For instance, if we spell ```hours_per_day``` as ```hours_per_dy```, Python will error with message ```NameError: name 'hours_per_dy' is not defined```.

In [ ]:
print(hours_per_dy)

When you see ```NameError``` like this, it's an indication that you should check how you have spelled the variable that it references as "not defined". Then, to fix the error, you need only correct the spelling.

In [ ]:
print(hours_per_day)

## Functions

### Introduction to Functions

A **function** is a block of code designed to perform a specific task. As you'll see, functions will let you do roughly the same calculation multiple times without duplicating any code.

In [ ]:
# Define the function
def add_three(input_var):
    output_var = input_var + 3
    return output_var

Every function is composed of two pieces: a **header** and **body**.

#### Header
The function header defines the name of the function and its argument(s).

- Every function header begins with ```def```, which tells Python that we are about to define a function.
- In the example, the function name is ```add_three```.
- In the example, the argument is ```input_var```. The argument is the name of the variable that will be used as input to the function. It is always enclosed in parentheses that apppear immediately after the name of the function. (Note that a function can also have no arguments, or it can have multiple arguments. You'll see some examples of this later in the lesson.)
- For every function, the parentheses enclosing the function argument(s) must be followed by a colon :.

#### Body
The function body specifies the work that the function does.

- Every line of code in the function body must be indented exactly four spaces. You can do this by pushing the space bar four times, or by hitting the "Tab" button once on your keyboard. (As you learn more about Python, you may need to indent your code by more than four spaces, but you'll learn more about that later in this course.)
- The function does its work by running all of the indented lines from top to bottom.
    - It takes the argument as input, which in the example is input_var.
    - The function creates a new variable ```output_var``` with the calculation ```output_var = input_var + 3```.
- Then, the final line of code, called the return statement, just returns the value in ```output_var``` as the function's output.
The code cell above just defines the function, but does not run it. The details of the function body will make more sense after the next code cell, when we actually run the function.

### How to run (or "call") a function¶

When we run a function, it can also be referred to as "calling" the function.

In the code cell below, we run the function with ```10``` as the input value. We define a new variable ```new_number``` which is set to the output of the function.

In [ ]:
# Run the function with 10 as input
new_number = add_three(10)

# Check that the value is 13, as expected
print(new_number)

### Naming functions¶

When naming your own functions, you should use only lowercase letters, with words separated by underscores instead of spaces.
##### Example
Say you are helping a friend to calculate their weekly paycheck after taxes.



- They're in a 12% tax bracket (in other words, 12% of their salary is taken for taxes, and they only take home 88%), and
- They're paid hourly, at a rate of $15/hour.


The function below calculates the paycheck based on the number of hours worked. The function is more complicated than with the first example, because the function has more lines of code and comments. Similar to the example above, the function has a single argument (num hours). In the function body, we:

- Use the value for num_hours to specify the value for a new variable ```pay_pretax```.
- Use the value of pay_pretax to specify the value for a new variable ```pay_aftertax```.
- Return the value of the ```pay_aftertax``` variable.

In [ ]:
def get_pay(num_hours):
    # Pre-tax pay, based on receiving $15/hour
    pay_pretax = num_hours * 15
    # After-tax pay, based on being in 12% tax bracket
    pay_aftertax = pay_pretax * (1 - .12)
    return pay_aftertax

We call this function the same way we called the first function. The next code cell calculates the paycheck, based on working 40 hours. (After taxes, it is $528.)

In [ ]:
# Calculate pay based on working 40 hours
pay_fulltime = get_pay(40)
print(pay_fulltime)

To quickly calculate pay based on a different number of hours worked, you need to supply the function with a different number. For instance, say your friend works 32 hours. (Then, they get $422.40.)

In [ ]:
pay_parttime = get_pay(32)
print(pay_parttime)

### Variable Scope

Variables defined inside the function body cannot be accessed outside of the function. For instance, the next code cell errors, because ```pay_aftertax``` only exists inside the function.

In [ ]:
print(pay_aftertax)

You will get the same error if you try to print ```pay_pretax``` or ```num_hours```. For this reason, if you need any information from a function, you need to make sure that appears in the return statement at the end of the function.

We refer to a variable's **scope** as the part of the code where it is accessible. Variables defined inside a function (like ```pay_aftertax```) have a local scope of that function only. However, as you've seen, variables defined outside all functions (like ```pay_parttime```) have a global scope and can be accessed anywhere.

### Homework Part One

Read on:
- Functions with multiple arguments
- Functions with no arguments

#### 1. Functions with multiple arguments¶
So far, you have learned how to define a function with just one argument. To define a function with multiple arguments, you only need to add more arguments inside the parentheses in the function head and separate them with a comma.

We do this with th```e get_pay_with_more_inputs```() function below, which calculates a weekly paycheck based on three argument

- ```num_hours``` - number of hours worked in one week
- ```hourly_wage``` - the hourly wage (in $/hour)
- ```tax_bracket``` - percentage of your salary that is removed for taxesved for taxes

In [ ]:
def get_pay_with_more_inputs(num_hours, hourly_wage, tax_bracket):
    # Pre-tax pay
    pay_pretax = num_hours * hourly_wage
    # After-tax pay
    pay_aftertax = pay_pretax * (1 - tax_bracket)
    return pay_aftertax

Then, to call the function, you need to provide one value for each input, again separated by a comma.

In the code cell below, we calculate the pay after taxes for someone who works 40 hours, makes $24/hour, and is in a 22% tax bracket.

In [ ]:
higher_pay_aftertax = get_pay_with_more_inputs(40, 24, .22)
print(higher_pay_aftertax)

The following code cell gives the same result as when we ran ```get_pay(40)```, because ```hourly_wage``` is set to 15, and tax_bracket is set to 12%, which lines up with how we designed ```get_pay```

Depending on how we plan to use this new function ```get_pay_with_more_inputs()```, it can be more useful than the original function ```get_pay()```, because it addresses more cases. Instead of potentially incorrectly assuming the hourly wage and tax bracket, the new function allows the user to specify the correct values. But, if you're sure the hourly wage and tax bracket won't need to change, the new function is just more complicated than necessary. In general, when defining functions, you'll need to consider how much flexibility you need, based on your use case.

#### 2. Functions with no arguments¶

Note that it's possible to define function with no arguments, and that don't have a return statement. The ```print_hello()``` function in the code cell below is an example.

In [ ]:
# Define the function with no arguments and with no return
def print_hello():
    print("Hello, you!")
    print("Good morning!")
    
# Call the function
print_hello()

## Data Types

Whenever you create a variable in Python, it has a value with a corresponding data type.  There are many different data types, such as integers, floats, booleans, and strings, all of which we'll cover in this lesson. 

Data types are important, because they determine what kinds of actions you can do with them. For instance, you can divide two floats, but you cannot divide two strings. For instance, 12.0/2.0 makes sense, but "cat"/"dog" does not.

### Integers

Integers are numbers without any fractional part and can be positive (1, 2, 3, ...), negative (-1, -2, -3, ...), or zero (0).

In the code cell below, we set a variable x to an integer. We then verify the data type with type(), and need only pass the variable name into the parentheses.

x = 14
print(x)
print(type(x))

In the output above, ```<class 'int'>``` refers to the integer data type.

### Floats
Floats are numbers with fractional parts. They can have many numbers after decimal.

In [ ]:
nearly_pi = 3.141592653589793238462643383279502884197169399375105820974944
print(nearly_pi)
print(type(nearly_pi))

We can also specify a float with a fraction.

In [ ]:
almost_pi = 22/7
print(almost_pi)
print(type(almost_pi))

One function that is particularly useful for fractions is the round() function. It lets you round a number to a specified number of decimal places.

In [ ]:
# Round to 5 decimal places
rounded_pi = round(almost_pi, 5)
print(rounded_pi)
print(type(rounded_pi))

Whenever you write a number with a decimal point, Python recognizes it as a float data type.

For instance, 1. (or 1.0, 1.00, etc) will be recognized as a float. This is the case, even though these numbers technically have no fractional part!

In [ ]:
y_float = 1.
print(y_float)
print(type(y_float))

### Booleans¶
Booleans represent one of two values: True or False. In the code cell below, ```z_one``` is set to a boolean with value ```True```

In [ ]:
z_one = True
print(z_one)
print(type(z_one))

Next, ```z_two``` is set to a boolean with value ```False```.

In [ ]:
z_two = False
print(z_two)
print(type(z_two))

Booleans are used to represent the truth value of an expression. Since 1 < 2 is a true statement, ```z_three``` takes on a value of True.

In [ ]:
z_three = (1 < 2)
print(z_three)
print(type(z_three))

Similarly, since ```5 < 3``` is a false statement, ```z_four``` takes on a value of ```False```.

In [ ]:
z_five = not z_four
print(z_five)
print(type(z_five))

Booleans will be important in the next lesson, when you learn about conditions and conditional statements.

### Strings¶
The string data type is a collection of characters (like alphabet letters, punctuation, numerical digits, or symbols) contained in quotation marks. Strings are commonly used to represent text.

In [ ]:
w = "Hello, Python!"
print(w)
print(type(w))

You can get the length of a string with ```len()```. ```"Hello, Python!"``` has length 14, because it has 14 characters, including the space, comma, and exclamation mark. Note that the quotation marks are not included when calculating the length.

In [ ]:
print(len(w))

One special type of string is the empty string, which has length zero.

In [ ]:
shortest_string = ""
print(type(shortest_string))
print(len(shortest_string))

If you put a number in quotation marks, it has a string data type.

In [ ]:
my_number = "1.12321"
print(my_number)
print(type(my_number))

If we have a string that is convertible to a float, we can use ```float()```.

This won't always work! For instance, we can convert ```"10.43430"``` and ```"3"``` to floats, but we cannot convert ```"Hello, Python!"``` to a float.

In [ ]:
also_my_number = float(my_number)
print(also_my_number)
print(type(also_my_number))

Just like you can add two numbers (floats or integers), you can also add two strings. It results in a longer string that combines the two original strings by concatenating them.

In [ ]:
new_string = "abc" + "def"
print(new_string)
print(type(new_string))

Note that it's not possible to do subtraction or division with two strings. You also can't multiply two strings, but you can multiply a string by an integer. This again results in a string that's just the original string concatenated with itself a specified number of times.

In [ ]:
newest_string = "abc" * 3
print(newest_string)
print(type(newest_string))

Note that you cannot multiply a string by a float! Trying to do so will return an error.

In [ ]:
will_not_work = "abc" * 3.

In the error, the "sequence" is the string ```"abc"```, and the "non-int of type 'float'" is the float (```3.```). So, the error message can be reworded to say "can't multiply string by float".

## Conditions and Conditional Statements

### Conditions¶

In programming, **conditions** are statements that are either True or False. There are many different ways to write conditions in Python, but some of the most common ways of writing conditions just compare two different values. For instance, you can check if 2 is greater than 3.

In [ ]:
print(2 > 3)

Python identifies this as False, since 2 is not greater than 3.

You can also use conditions to compare the values of variables. In the next code cell, ```var_one``` has a value of 1, and ```var_two``` has a value of two. In the conditions, we check if ```var_one``` is less than 1 (which is False), and we check if ```var_two``` is greater than or equal to ```var_one``` (which is True).

In [ ]:
var_one = 1
var_two = 2

print(var_one < 1)
print(var_two >= var_one)

For a list of common symbols you can use to construct conditions, check out the chart below.

|**Symbol** | **Meaning**             |
|-----------|-------------------------|
|==         | equals                  |
|<          | less than               |
|<=         | less than or equal to   |
|>          | greater than            |
|>=         | greater than or equal to|

**Important Note**: When you check two values are equal, make sure you use the == sign, and not the = sign.

- var_one==1 checks if the value of var_one is 1, but
- var_one=1 sets the value of var_one to 1.

### Conditional statements¶

Conditional statements use **conditions** to modify how your function runs. They check the value of a condition, and if the condition evaluates to True, then a certain block of code is executed. (Otherwise, if the condition is False, then the code is not run.)

You will see several examples of this in the following sections.

#### "if" statements¶

The simplest type of conditional statement is an "if" statement. You can see an example of this in the ```evaluate_temp()``` function below. The function accepts a body temperature (in Celcius) as input.

- Initially, ```message``` is set to ```"Normal temperature".```
- Then, if ```temp > 38``` is ```True``` (e.g., the body temperature is greater than 38°C), the message is updated to ```"Fever!"```. Otherwise, if ```temp > 38``` is False, then the message is not updated.
- Finally, ```message``` is returned by the function

In [ ]:
def evaluate_temp(temp):
    # Set an initial message
    message = "Normal temperature."
    # Update value of message only if temperature greater than 38
    if temp > 38:
        message = "Fever!"
    return message

In the next code cell, we call the function, where the temperature is 37°C. The message is ```"Normal temperature"```, because the temperature is less than 38°C (```temp > 38``` evaluates to ```False```) in this case.

In [ ]:
print(evaluate_temp(37))

However, if the temperature is instead 39°C, since this is greater than 38°C, the message is updated to ```"Fever!"```.

Note that there are two levels of indentation:

- The first level of indentation is because we always need to indent the code block inside a function.
- The second level of indentation is because we also need to indent the code block belonging to the "if" statement. (As you'll see, we'll also need to indent the code blocks for "elif" and "else" statements.)

Note that because the return statement is not indented under the "if" statement, it is always executed, whether ```temp > 38``` is ```True``` or ```False```.

#### "if ... else" statements

We can use "else" statements to run code if a statement is False. The code under the "if" statement is run if the statement is ```True```, and the code under "else" is run if the statement is ```False```.

In [ ]:
def evaluate_temp_with_else(temp):
    if temp > 38:
        message = "Fever!"
    else:
        message = "Normal temperature."
    return message

This ```evaluate_temp_with_else()``` function has equivalent behavior to the ```evaluate_temp()``` function.

In the next code cell, we call this new function, where the temperature is 37°C. In this case, ```temp > 38``` evaluates to ```False```, so the code under the "else" statement is executed, and the ```Normal temperature```. message is returned.

In [ ]:
print(evaluate_temp_with_else(37))

#### "if ... elif ... else" statements¶

We can use "elif" (which is short for "else if") to check if multiple conditions might be true. The function below:

- First checks if ```temp > 38```. If this is true, then the message is set to ```"Fever!"```.
- As long as the message has not already been set, the function then checks if ```temp > 35```. If this is true, then the message is set to ```"Normal temperature."```.
- Then, if still no message has been set, the "else" statement ensures that the message is set to ```"Low temperature."``` message is printed.
You can think of "elif" as saying ... "okay, that previous condition (e.g., ```temp > 38```) was false, so let's check if this new condition (e.g., ```temp > 35```) might be true!"

In [ ]:
def evaluate_temp_with_elif(temp):
    if temp > 38:
        message = "Fever!"
    elif temp > 35:
        message = "Normal temperature."
    else:
        message = "Low temperature."
    return message

In the code cell below, we run the code under the "elif" statement, because ```temp > 38``` is ```False```, and ```temp > 35``` is ```True```. Once this code is run, the function skips over the "else" statement and returns the message.

In [ ]:
evaluate_temp_with_elif(36)

Finally, we try out a case where the temperature is less than 35°C. Since the conditionals in the "if" and "elif" statements both evaluate to ```False```, the code block inside the "else" statement is executed.

In [ ]:
evaluate_temp_with_elif(34)

#### Example - Calculations¶
In the examples so far, conditional statements were used to decide how to set the values of variables. But you can also use conditional statements to perform different calculations.

In this next example, say you live in a country with only two tax brackets. Everyone earning less than 12,000 pays 25% in taxes, and anyone earning 12,000 or more pays 30%. The function below calculates how much tax is owed.

In [ ]:
def get_taxes(earnings):
    if earnings < 12000:
        tax_owed = .25 * earnings
    else:
        tax_owed = .30 * earnings
    return tax_owed

The next code cell uses the function.

In [ ]:
ana_taxes = get_taxes(9000)
bob_taxes = get_taxes(15000)

print(ana_taxes)
print(bob_taxes)

In each case, we call the ```get_taxes()``` function and use the value that is returned to set the value of a variable.

- For ```ana_taxes```, we calculate taxes owed by a person who earns 9,000. In this case, we call the ```get_taxes()``` function with ```earnings``` set to ```9000```. Thus, ```earnings < 12000``` is ```True```, and ```tax_owed``` is set to ```.25 * 9000```. Then we return the value of ```tax_owed```.
- For ```bob_taxes```, we calculate taxes owed by a person who earns 15,000. In this case, we call the ```get_taxes()``` function with earnings set to 15000. Thus, ```earnings < 12000``` is False, and ```tax_owed``` is set to ```.30 * 15000```. Then we return the value of ```tax_owed```.

Before we move on to another example - remember the ```add_three_or_eight()``` function from the introduction? It accepts a number as input and adds three if the input is less than 10, and otherwise adds eight. Can you figure out how you would write this function?

In [ ]:
def add_three_or_eight(number):
    if number < 10:
        result = number + 3
    else:
        result = number + 8
    return result

### Homework Part Two
Read on multiple elif statements

#### Multiple "elif" statements¶
So far, you have seen "elif" used only once in a function. But there's no limit to the number of "elif" statements you can use. For instance, the next block of code calculates the dose of medication (in milliliters) to give to a child, based on weight (in kilograms).

Note: This function should not be used as medical advice, and represents a fake medication.

In [ ]:
def get_dose(weight):
    # Dosage is 1.25 ml for anyone under 5.2 kg
    if weight < 5.2:
        dose = 1.25
    elif weight < 7.9:
        dose = 2.5
    elif weight < 10.4:
        dose = 3.75
    elif weight < 15.9:
        dose = 5
    elif weight < 21.2:
        dose = 7.5
    # Dosage is 10 ml for anyone 21.2 kg or over
    else:
        dose = 10
    return dose

The next code cell runs the function. Make sure that the output makes sense to you!

- In this case, the "if" statement was ```False```, and all of the "elif" statements evaluate to ```False```, until we get to ```weight < 15.9```, which is ```True```, and ```dose``` is set to 5.
- Once an "elif" statement evaluates to ```True``` and the code block is run, the function skips over all remaining "elif" and "else" statements. After skipping these, all that is left is the return statement, which returns the value of ```dose```.
- The order of the elif statements does matter here! Re-ordering the statements will return a very different result.

In [ ]:
print(get_dose(12))

## Introduction to Lists

When doing data science, you need a way to organize your data so you can work with it efficiently. Python has many data structures available for holding your data, such as lists, sets, dictionaries, and tuples. In this tutorial, you will learn how to work with Python lists.

One way to do this is by organizing the names in a Python string.

In [ ]:
flowers = "pink primrose,hard-leaved pocket orchid,canterbury bells,sweet pea,english marigold,tiger lily,moon orchid,bird of paradise,monkshood,globe thistle"

print(type(flowers))
print(flowers)

Even better is to represent the same data in a Python list. To create a list, you need to use square brackets ([, ]) and separate each item with a comma. Every item in the list is a Python string, so each is enclosed in quotation marks.

In [ ]:
flowers_list = ["pink primrose", "hard-leaved pocket orchid", "canterbury bells", "sweet pea", "english marigold", "tiger lily", "moon orchid", "bird of paradise", "monkshood", "globe thistle"]

print(type(flowers_list))
print(flowers_list)

At first glance, it doesn't look too different, whether you represent the information in a Python string or list. But as you will see, there are a lot of tasks that you can more easily do with a list. For instance, a list will make it easier to:
    
- get an item at a specified position (first, second, third, etc),
- check the number of items, and
- add and remove items.

### Lists

#### Length
We can count the number of entries in any list with len(), which is short for "length". You need only supply the name of the list in the parentheses.

In [ ]:
# The list has ten entries
print(len(flowers_list))

#### Indexing¶
We can refer to any item in the list according to its position in the list (first, second, third, etc). This is called ***indexing.***

Note that Python uses zero-based indexing, which means that:

- to pull the first entry in the list, you use 0,
- to pull the second entry in the list, you use 1, and
- to pull the final entry in the list, you use one less than the length of the list.

In [ ]:
print("First entry:", flowers_list[0])
print("Second entry:", flowers_list[1])

# The list has length ten, so we refer to final entry with 9
print("Last entry:", flowers_list[9])

**Side Note**: You may have noticed that in the code cell above, we use a single print() to print multiple items (both a Python string (like "First entry:") and a value from the list (like flowers_list[0]). To print multiple things in Python with a single command, we need only separate them with a comma.

#### Slicing
You can also pull a segment of a list (for instance, the first three entries or the last two entries). This is called slicing. For instance:

- to pull the first x entries, you use [:x], and
- to pull the last y entries, you use [-y:].

In [ ]:
print("First three entries:", flowers_list[:3])
print("Final two entries:", flowers_list[-2:])

As you can see above, when we slice a list, it returns a new, shortened list.

### Homework Part Three 
Read on:
- Removing items
- Adding items
- Working with different data types in lists

#### Removing items¶
Remove an item from a list with .remove(), and put the item you would like to remove in parentheses.

In [ ]:
flowers_list.remove("globe thistle")
print(flowers_list)

#### Adding items¶
Add an item to a list with .append(), and put the item you would like to add in parentheses

In [ ]:
flowers_list.append("snapdragon")
print(flowers_list)

#### Lists are not just for strings¶
So far, we have only worked with lists where each item in the list is a string. But lists can have items with any data type, including booleans, integers, and floats.

As an example, consider hardcover book sales in the first week of April 2000 in a retail store.

In [ ]:
hardcover_sales = [139, 128, 172, 139, 191, 168, 170]

Here, ```hardcover_sales``` is a list of integers. Similar to when working with strings, you can still do things like get the length, pull individual entries, and extend the list.

In [ ]:
print("Length of the list:", len(hardcover_sales))
print("Entry at index 2:", hardcover_sales[2])

You can also get the minimum with ```min()``` and the maximum with ```max()```.

In [ ]:
print("Minimum:", min(hardcover_sales))
print("Maximum:", max(hardcover_sales))

To add every item in the list, use ```sum()```.

In [ ]:
print("Total books sold in one week:", sum(hardcover_sales))

We can also do similar calculations with slices of the list. In the next code cell, we take the sum from the first five days ```(sum(hardcover_sales[:5]))```, and then divide by five to get the average number of books sold in the first five days.

In [ ]:
print("Average books sold in first five days:", sum(hardcover_sales[:5])/5)

## More Resources

You can find practice exercises for this class on Kaggle. 
1. [Arithmetic and Variables](https://www.kaggle.com/kernels/fork/25258219)
2. [Functions](https://www.kaggle.com/kernels/fork/25258226)
3. [Data Types](https://www.kaggle.com/kernels/fork/25258226)
4. [Conditions and Conditional Statements](https://www.kaggle.com/kernels/fork/25880622)
5. [Introduction to Lists](https://www.kaggle.com/kernels/fork/26034864)

Reading Material
- Functions: https://www.geeksforgeeks.org/python-functions/
- Lists: https://www.geeksforgeeks.org/python-lists/
- Conditional statements: https://www.geeksforgeeks.org/conditional-statements-in-python/